<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Group</title>
</head>
<body>
<label>Введите номер группы</label>
<br>
<input type="text" id="nameGroup" name="nameGroup"></input>
<br>
<label>Введите курс группы</label>
<br>
<input type="text" id="courseGroup" name="courseGroup"></input>
<br>
<label>Введите код направления группы</label>
<br>
<input type="text" id="directionCodeGroup" name="directionCodeGroup"></input>
<br>
<label>Введите название направления группы</label>
<br>
<input type="text" id="directionGroup" name="directionGroup"></input>
<br>
<button onclick="addGroup()">добавить</button>
<script type="text/javascript" src="/group.js"></script>
</body>
</html>