<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Schedule</title>
</head>
<body>
<label>Введите id преподавателя</label>
<br>
<input type="text" id="idTeacher" name="idTeacher"></input>
<br>
<label>Введите id предмета</label>
<br>
<input type="text" id="idSubject" name="idSubject"></input>
<br>
<label>Введите id кабинета</label>
<br>
<input type="text" id="idCabinet" name="idCabinet"></input>
<br>
<label>Введите id группы</label>
<br>
<input type="text" id="idGroup" name="idGroup"></input>
<br>
<label>Введите время экзамена</label>
<br>
<input type="text" id="timeExam" name="timeExam"></input>
<br>
<label>Введите дату экзамена</label>
<br>
<input type="text" id="dateExam" name="dateExam"></input>
<br>
<button onclick="addSchedule()">добавить</button>
<script type="text/javascript" src="/schedule.js"></script>
</body>
</html>