<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Teacher</title>
</head>
<body>
<label>Введите id преподавателя</label>
<br>
<input type="text" id="idTeacher" name="idTeacher"></input>
<br>
<label>Введите фамилию преподавателя</label>
<br>
<input type="text" id="lastName" name="lastName"></input>
<br>
<label>Введите имя преподавателя</label>
<br>
<input type="text" id="firstName" name="firstName"></input>
<br>
<label>Введите отчество преподавателя</label>
<br>
<input type="text" id="middleName" name="middleName"></input>
<br>
<button onclick="updateTeacher()">изменить</button>
<script type="text/javascript" src="/teacher.js"></script>
</body>
</html>